@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

* {
  outline-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

/* home */
.collections {
  @apply flex items-center justify-between;
}
.collections article {
  @apply flex h-60 w-72 cursor-pointer items-center justify-center shadow-xl transition duration-500;
}
.collections article:hover {
  transform: scale(1.05);
}
.collections .laptops {
  background-image: url("./images/laptops.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.collections .cameras {
  background-image: url("./images/cameras.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.collections .accessories {
  background-image: url("./images/accessories.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.overlay {
  @apply h-full w-full flex-col items-baseline justify-start self-stretch bg-orange-500 p-5 text-white opacity-90;
  clip-path: polygon(0 0, 100% 0%, 20% 100%, 0% 100%);
  transition: 0.5s;
}

/* products */

.product-section {
  @apply grid grid-cols-2 justify-center gap-[2%] p-[2%] text-xs md:grid-cols-3 md:justify-start lg:grid-cols-4 xl:grid-cols-5;
}
.product-card {
  @apply flex max-w-xs  cursor-pointer flex-col justify-between rounded-[3px]  p-[8%] text-gray-400 shadow-xl  shadow-slate-400  lg:max-h-72;
}
.product-card-header {
  overflow-x: auto;
  height: 50px;
}
.product-card .price {
  @apply text-red-700;
}
.product-card-body {
  @apply flex items-center justify-center;
}
.product-card-body img {
  @apply w-[80%];
}
.product-card-footer {
  @apply flex items-center justify-around gap-1;
}
.add-to-cart-button {
  @apply w-[60%] rounded-md bg-orange-500 p-2 text-white transition duration-75;
}
.add-to-cart-button:hover {
  @apply bg-orange-400;
}
.add-to-wishlist-button {
  @apply flex w-[20%] items-center justify-center;
}
.product-card-footer .price {
  @apply w-[20%] text-center;
}

/* single product*/

.single-product-display {
  @apply grid h-full grid-cols-2 grid-rows-2 gap-4;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 3fr 2fr;
}

.spec-overview {
  @apply grid gap-4;
  grid-template-rows: repeat(auto-fit, 1fr);
}
.spec-overview-row {
  @apply grid gap-3;
  grid-template-columns: 2fr 8fr;
}

/* Modal */
